<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSCameraUsageDescription</key>
	<string>Camera access is required for video chat.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Microphone access is required for video chat.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>需要访问相册以设置您的头像</string>
</dict>
</plist>
